In [4]:
import pandas as pd

In [64]:
df = pd.read_csv('C:\\Users\sdora\Desktop\Tabla Periodica.csv')
df.head()

   Atomic Number Symbol       Atom  Atom mass (g/mol)
0              1      H   Hydrogen            1.00797
1              2     He     Helium            4.00260
2              3     Li    Lithium            6.94100
3              4     Be  Beryllium            9.01218
4              5      B      Boron           10.81000

df=pd.read_excel('C:\\Users\sdora\Desktop\Tabla Periodica.xlsx')
df.head()

In [74]:
df=pd.read_excel('C:\\Users\sdora\Desktop\Tabla Periodica.xlsx')
df.loc[0,'Atom']

'Hydrogen'